<%- include('partials/_header') %>

<main style="margin: 1em;">
  <h3>Register a new user</h3>
  <form action="/register" method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control form-style" type="email" name="email">
      <label for="password">Password:</label>
      <input class="form-control form-style" type="password" name="password">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</main>

<%- include('partials/_footer') %>