/* Header */
.nav-login-form {
  width: 100%;
  vertical-align: middle;
  margin-top: 15px;
}
.nav-login-form, input {
  margin-right: 10px;
}
.nav-login-form, username-badge {
  margin-right: 10px;
}
.nav-login-form, button {
  margin-right: 10px;
}
.head-buttons {
  height: 95%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.username-badge {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.error {
  color: red;
}