/* Header */
.nav-login-form {
  width: 100%;
}
.nav-login-form, input {
  margin-right: 10px;
}
.nav-login-form, button {
  margin-right: 10px;
}
.badge {
  height: 95%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.username-badge {
  margin: 0;
}